/*Barre de navigation */
.bg-nav{
    background-color: moccasin;
}

.marge{
    margin-left: 5%;
    margin-right: 5%;
}


 .mainBody {
    min-height:100%;
    position:relative;
    padding-bottom:100px;   /* Hauteur du pied de page */
 }
 
/*Footer au bas de la page */
footer {
    /*position:absolute;*/
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
}



/*Attribut spécifique pour le h1 de l'ensemble des pages */
h1{
    color:cornflowerblue;
    font-family: Garamond, serif;
    padding-bottom: 4vh;
}

/*Bouton Enregistrer /page Editer et Bouton Ajouter /page index */
#patients_Enregistrer, .btnIndexAdd, #appointments_Enregistrer{
    float:right;
    margin-top:1vw;
    padding: 1rem;
}

/*Customisation du bouton Annuler de la page Edit */

.btnCancel{
margin-top:1vw;
margin-right:1vh;
}

.btnCancel:Hover, .btnIndexShow:hover, .btnBackIndex:hover {
    color:white;
}

/*Amélioration du bouton Supprimer du formulaire Supprimer */
.btnDelete{
    margin-top:1vw;
}

/*Espacement des labels */
#patients label, #appointments label{
    padding-top : 1vw;
    margin-left:1vh;
}

/*Mise en forme des menus déroulants des dates */
#patients_birthDate_day, #patients_birthDate_year, #patients_birthDate_month, #appointments_startTime_date_day, #appointments_startTime_date_month, #appointments_startTime_date_year, #appointments_endTime_date_day, #appointments_endTime_date_month, #appointments_endTime_date_year, #appointments_startTime_time_hour, #appointments_startTime_time_minute, #appointments_endTime_time_hour, #appointments_endTime_time_minute{
    width: 5vw;
    margin:0.4rem;
}

/*body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(42, 12, 151, 0.5)),url(img/dr.jpg);
    background-size: cover;
}*/