<form method="post" action="{{ path('appointments_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce RDV ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <div class = "d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-danger p-3 btnDelete">Supprimer</button>
    </div>
</form>
