{% extends 'base.html.twig' %}

{% block title %}Modifier le RDV{% endblock %}

{% block body %}
    <h1>Modifier le RDV</h1>

    {{ include('appointments/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('appointments/_delete_form.html.twig') }}
{% endblock %}
