{% extends 'base.html.twig' %}

{% block title %}Nouveau RDV{% endblock %}

{% block body %}
    <h1>Nouveau RDV</h1>

    {{ include('appointments/_form.html.twig') }}

    <a href="{{ path('appointments_index') }}">Retour à la liste des RDV</a>
{% endblock %}
